biome.jsonc
jsconfig.json
tsconfig.json
node_modules
innerGetFabricApiVersions.ts
innerGetFabricApiVersions.js
site/loaders.json
site/template.json
site/yarn-patches.json
site/libs/fabric.net/Api.js
testing/results.json
testing/results.old.json